.AjoutBtn{

    margin-left: 1186px;
    margin-top: 18px;
   }
   table {
    width: 100%;
  }
  
 .h1{
  text-align: center;
  color: burlywood;
 }
 .ImportBtn{
  margin-left: 1000px;
  margin-top: -36px;

 }